# Updated requirements.txt
streamlit
python-dotenv
PyPDF2
langchain
langchain-google-genai
langchain-community
google-generativeai
gTTS
gtts
pydub
beautifulsoup4
requests
tenacity
python-pptx
transformers
sentence-transformers
email-validator
pytesseract
faiss-cpu
pillow
deep-translator
streamlit-autorefresh
pytz
pyttsx3
newspaper3k
trafilatura
soundfile
keybert
yake
rake-nltk
nltk
scikit-learn
serpapi
scholarly
ffmpeg-python
asyncio
torchvision 
torchaudio
google-search-results
spacy
scikit-learn

loguru
torch>=1.7.0
numpy>=1.19.0
librosa>=0.8.0
scipy>=1.5.0
omegaconf
soundfile
git+https://github.com/hexgrad/kokoro.git
#git+https://github.com/nazdridoy/kokoro-tts.git
#git+https://github.com/nazdridoy/kokoro-tts.git#egg=kokoro
#git+https://github.com/hexgrad/kokoro.git
