# Updated requirements.txt
streamlit
python-dotenv
PyPDF2
langchain
langchain-google-genai
langchain-community
google-generativeai
gTTS
gtts
pydub
beautifulsoup4
requests
tenacity
python-pptx
transformers
sentence-transformers
email-validator
pytesseract
faiss-cpu
pillow
deep-translator
streamlit-autorefresh
pytz
pyttsx3
newspaper3k
trafilatura
soundfile
keybert
yake
rake-nltk
nltk
numpy
scikit-learn
serpapi
scholarly
ffmpeg-python
asyncio
torch 
torchvision 
torchaudio
google-search-results
spacy
scikit-learn
git+https://github.com/nazdridoy/kokoro-tts.git
#git+https://github.com/hexgrad/kokoro.git
